@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; 400 and 700 */
* {
  box-sizing: border-box;
}

html {
  font-size:12px;
  --very-dark-desaturated-blue:hsl(238, 29%, 16%);
  --soft-red:hsl(14, 88%, 65%);
  --soft-violet:hsl(273, 75%, 66%);
  --soft-blue:hsl(240, 73%, 65%);
  --very-dark-greyish-blue:hsl(237, 12%, 33%);
  --dark-greyish-blue:hsl(240, 6%, 50%);
  --light-greyish-blue:hsl(240, 5%, 91%);
}
body {
  margin:0;
  padding:0;
  font-family: 'Kumbh Sans', sans-serif;
}
.content {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.card {
  display:flex;
  width:70%;
  height:450px;
  background-color:var(--light-greyish-blue);
  border-radius: 1.5rem;
}

.card__faq {
  padding:3rem;
}

.card > * {
  width:100%;
}

.card__img {
  position:relative;
}
.card__img__box {
  position:absolute;
  top:170px;
  left:-95px;
}

.card__woman {
  background-image: url('/images/illustration-woman-online-desktop.svg'),url('images/bg-pattern-desktop.svg');
  height:100%;
  background-repeat: no-repeat;
  background-position: left -87px center,left -600px bottom -130px ;
}
.card__woman_mobile {
  display:none;
}

.card__faq h1 {
  font-size:3rem;
  color:var(--very-dark-desaturated-blue);
}

.card__faq {  
  overflow: auto;
  padding-right:7rem;
}

details {
  padding:0.5rem 0;

}
.question {
  font-size:1.2rem;
  padding:1rem 0;
  cursor:pointer;
  user-select: none;
  color:var(--dark-greyish-blue);
}
.awnser {
  color:var(--dark-greyish-blue);
  font-size:1.1rem;
  margin:0;
}

.question::marker {
  content:none;
}
.question:focus {
  color:var(--very-dark-desaturated-blue);
  font-weight: 700;
}
.question:hover {
  color:var(--soft-red);
}
.question::after {
  content: url('images/icon-arrow-down.svg');
  float: right; 
}

details[open] .question::after{
  content: url('images/icon-arrow-down.svg');
  float: right;
  transform: rotate(180deg);
}
details[open] .question {
  color:var(--very-dark-desaturated-blue);
  font-weight: 700;
}

@media only screen and  (max-width:55em){
  .content {
    height:100%
  }
  .card{ 
    flex-direction: column;
    width:30rem;
    height:80%;
    margin:30% 0;
  }
  .card__faq h1 { text-align: center;}
  .card__faq {
    overflow: auto;
    padding-right:2rem;
  }
  details {
    border-bottom: 1px solid rgb(201, 200, 200);
    padding-bottom: 8px;
  }
  .card__woman { display:none;}
  .card__img {
    margin-bottom: 2rem;
  }
  .card__woman_mobile {
    display:inline-block;
    position: absolute;
    top:-9rem;
    right:15%;
  }
  .card__img__box { display:none;}
}