@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; 400 and 700 */
* {
  box-sizing: border-box;
}

html {
  font-size:12px;
  --very-dark-desaturated-blue:hsl(238, 29%, 16%);
  --soft-red:hsl(14, 88%, 65%);
  --soft-violet:hsl(273, 75%, 66%);
  --soft-blue:hsl(240, 73%, 65%);
  --very-dark-greyish-blue:hsl(237, 12%, 33%);
  --dark-greyish-blue:hsl(240, 6%, 50%);
  --light-greyish-blue:hsl(240, 5%, 91%);
}
body {
  margin:0;
  padding:0;
}
.content {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.card {
  display:flex;
  width:70%;
  height:450px;
  background-color:var(--light-greyish-blue);
  border-radius: 1.5rem;
}

.card__faq {
  padding:3rem;
}

.card > * {
  width:100%;
}

.card__img {
  position:relative;
}
.card__img__box {
  position:absolute;
  top:170px;
  left:-95px;
}

.card__images {
  background-image: url('/images/illustration-woman-online-desktop.svg'),url('images/bg-pattern-desktop.svg');
  height:100%;
  background-repeat: no-repeat;
  background-position: left -87px center,left -600px bottom -130px ;
}