@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; 400 and 700 */
* {
  box-sizing: border-box;
}

html {
  font-size:12px;
  --very-dark-desaturated-blue:hsl(238, 29%, 16%);
  --soft-red:hsl(14, 88%, 65%);
  --soft-violet:hsl(273, 75%, 66%);
  --soft-blue:hsl(240, 73%, 65%);
  --very-dark-greyish-blue:hsl(237, 12%, 33%);
  --dark-greyish-blue:hsl(240, 6%, 50%);
  --light-greyish-blue:hsl(240, 5%, 91%);
}
body {
  margin:0;
  padding:0;
}
.content {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.card {
  display:flex;
  width:70%;
  background-color:var(--light-greyish-blue);
  border-radius: 1.5rem;
}

.card__faq {
  border: 2px solid black;
  padding:3rem;
}

.card__img {
  border:5px solid blue;
  width:50%;
  position:relative;
}

.card__img__box {
  border:2px solid black;
  
}

.card__img__woman {
  border:2px solid black;
  
}